/* NAVBAR */
.worker-navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:14px 40px;

  background:var(--bg-navbar);
  color:var(--text-main);
  border-bottom:1px solid var(--border-color);

  position:relative;
  z-index:1000;
}

/* LEFT */
.worker-navbar-left{
  display:flex;
  align-items:center;
  gap:25px;
}

.worker-logo{
  font-size:22px;
  font-weight:bold;
  color:var(--text-main);
}

/* LINKS */
.worker-nav-link{
  display:flex;
  align-items:center;
  gap:6px;
  text-decoration:none;
  color:var(--text-secondary);
  font-weight:500;
  transition:0.2s;
}

.worker-nav-link:hover{
  color:var(--text-main);
}

/* RIGHT */
.worker-navbar-right{
  display:flex;
  align-items:center;
  gap:20px;
  position:relative;
}

/* ICON BUTTON */
.worker-icon-btn{
  cursor:pointer;
  color:var(--text-secondary);
}

.worker-icon-btn:hover{
  color:var(--text-main);
}

/* NOTIFICATIONS */
.worker-notification{
  position:relative;
  cursor:pointer;
  color:var(--text-secondary);
}

.worker-notification:hover{
  color:var(--text-main);
}

.worker-notification-count{
  position:absolute;
  top:-6px;
  right:-8px;
  background:#ef4444;
  color:white;
  font-size:11px;
  padding:2px 5px;
  border-radius:50%;
}

/* NOTIFICATION PANEL */
.worker-notification-panel{
  position:absolute;
  right:0;
  top:45px;

  background:var(--bg-card);
  color:var(--text-main);

  width:260px;
  border-radius:10px;
  padding:15px;

  border:1px solid var(--border-color);
  box-shadow:0 10px 25px rgba(0,0,0,0.2);

  z-index:2000;
  max-height:250px;
  overflow-y:auto;
}

/* NOTIFICATION ITEM */
.worker-notif-item{
  padding:8px 10px;
  border-bottom:1px solid var(--border-color);
  font-size:14px;
  transition:0.2s;
}

.worker-notif-item:hover{
  background:rgba(0,0,0,0.05);
  border-radius:6px;
}

/* SCROLLBAR */
.worker-notification-panel::-webkit-scrollbar{
  width:6px;
}

.worker-notification-panel::-webkit-scrollbar-thumb{
  background:#888;
  border-radius:6px;
}

/* PROFILE ICON */
.worker-profile-icon{
  background:var(--button-success);
  padding:8px;
  border-radius:50%;
  cursor:pointer;
  color:white;
}

/* DROPDOWN */
.worker-profile-dropdown{
  position:absolute;
  top:45px;
  right:0;

  background:var(--bg-card);
  color:var(--text-main);

  border-radius:10px;
  width:180px;
  padding:10px 0;

  border:1px solid var(--border-color);
  box-shadow:0 10px 25px rgba(0,0,0,0.2);

  z-index:2000;
}

/* DROPDOWN ITEMS */
.worker-dropdown-item{
  display:flex;
  align-items:center;
  gap:8px;
  padding:10px 15px;
  color:var(--text-main);
  text-decoration:none;
  cursor:pointer;
  transition:0.2s;
}

.worker-dropdown-item:hover{
  background:rgba(0,0,0,0.05);
}

/* LOGOUT */
.worker-dropdown-item.logout{
  color:#ef4444;
}